body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif; /* We'll change this to a fancy font later */
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed; /* Keeps the image static */
    color: #fff; /* White text for readability */
}

img {
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
